distro==1.9.0
drjit==0.4.6
gpytoolbox==0.3.2
imageio==2.35.1
lazy_loader==0.4
libigl==2.5.1
mitsuba==3.5.2
nanobind==2.1.0
networkx==3.3
numpy==1.26.4
packaging==24.1
pillow==10.4.0
scikit-build==0.18.1
scikit-image==0.24.0
scipy==1.14.1
setuptools==75.1.0
tifffile==2024.9.20
wheel==0.44.0
